body {
    background-color: #2196F3;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > button {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.grid-container > button:hover {
    color: white;
    font-weight: bold;
}

.game-button {
    border: 1px solid black;
    border-radius: 8px;
    background-color: lightblue;
    padding: 10px;
    font-size 20px;
    margin: 10px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.game-button:hover {
    color: white;
}
